In [2]:
#Legal Variable
name = "Azhar" # variable storing a string
print(name)

Azhar

In [3]:
age = 21  # variable storing an integer
print(age)

21

In [4]:
student_id = 1001 # variable storing a numeric ID
print(student_id)

1001

In [5]:
_price = 250.50  # variable storing a float (valid since it starts with _)
print(_price)

250.5

In [6]:
myVar123 = "Python" # variable storing a string with letters + numbers
print(myVar123)

Python

In [8]:
#Illegal Variable
2nd_name = "Ali"     #  cannot start with a digit

SyntaxError: invalid decimal literal (2677296748.py, line 2)

In [9]:
my-var = 50          #  cannot contain a hyphen

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (251518255.py, line 1)

In [2]:
my var =1

SyntaxError: invalid syntax (2777714286.py, line 1)

In [1]:
num-ber =1

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1111440723.py, line 1)

In [3]:
@my var=1

SyntaxError: invalid syntax (157240783.py, line 1)